# These folders/files will be created by dotnet run command
# helps organize code by including these in the .gitignore
bin/
obj/

# We actually will want to keep launch.json and tasks.json tracked in git because I can set up all debuggers before hand

