# These folders/files will be created by dotnet run command or the debuuger build task
# helps organize code by including these in the .gitignore
# it is best to have these files created by dotnet on your local machine
bin/
obj/

# We actually will want to keep launch.json and tasks.json tracked in git because I can set up all debuggers before hand

